In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\BHARGAV\Downloads\archive(8)\fraudTest.csv")

In [4]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  int64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 97.5+ MB

In [6]:
df.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [7]:
df = df.drop(columns=['Unnamed: 0',"first",'last','street'])

In [8]:
df

,trans_date_trans_time,cc_num,merchant,category,amt,gender,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,M,Columbia,SC,29209,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,F,Altonah,UT,84002,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,F,Bellmore,NY,11710,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,M,Titusville,FL,32780,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,M,Falmouth,MI,49632,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,M,Luray,MO,63453,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,M,Lake Jackson,TX,77566,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,F,Burbank,WA,99323,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,M,Mesa,ID,83643,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,M,Edmond,OK,73034,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [9]:
df.isnull().count()

trans_date_trans_time    555719
cc_num                   555719
merchant                 555719
category                 555719
amt                      555719
gender                   555719
city                     555719
state                    555719
zip                      555719
lat                      555719
long                     555719
city_pop                 555719
job                      555719
dob                      555719
trans_num                555719
unix_time                555719
merch_lat                555719
merch_long               555719
is_fraud                 555719
dtype: int64

In [10]:
df.describe()

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,5.557190e+05,555719.000000,555719.000000,555719.000000,555719.000000,5.557190e+05,5.557190e+05,555719.000000,555719.000000,555719.000000
mean,4.178387e+17,69.392810,48842.628015,38.543253,-90.231325,8.822189e+04,1.380679e+09,38.542798,-90.231380,0.003860
std,1.309837e+18,156.745941,26855.283328,5.061336,13.721780,3.003909e+05,5.201104e+06,5.095829,13.733071,0.062008
min,6.041621e+10,1.000000,1257.000000,20.027100,-165.672300,2.300000e+01,1.371817e+09,19.027422,-166.671575,0.000000
25%,1.800429e+14,9.630000,26292.000000,34.668900,-96.798000,7.410000e+02,1.376029e+09,34.755302,-96.905129,0.000000
50%,3.521417e+15,47.290000,48174.000000,39.371600,-87.476900,2.408000e+03,1.380762e+09,39.376593,-87.445204,0.000000
75%,4.635331e+15,83.010000,72011.000000,41.894800,-80.175200,1.968500e+04,1.385867e+09,41.954163,-80.264637,0.000000
max,4.992346e+18,22768.110000,99921.000000,65.689900,-67.950300,2.906700e+06,1.388534e+09,66.679297,-66.952026,1.000000

In [11]:
df.head(1)

,trans_date_trans_time,cc_num,merchant,category,amt,gender,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,M,Columbia,SC,29209,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0

In [12]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rcParams
import plotly.express as px
from sklearn.model_selection import train_test_split
from plotly.subplots import make_subplots
import plotly.graph_objects as go

In [13]:
colors = ['gold', 'mediumturquoise']
labels = ['Normal','Fraud']
values = df['is_fraud'].value_counts()/df['is_fraud'].shape[0]
fig = go.Figure(data=[go.Pie(labels = labels,
                             values=values,hole=.3)])
fig.update_traces(hoverinfo='label+percent', textinfo='percent', textfont_size=20,
                  marker=dict(colors=colors, line=dict(color='white', width=0.1)))
fig.update_layout(
    title_text="Credit Card Fraud",
    title_font_color="white",
    legend_title_font_color="yellow",
    paper_bgcolor="black",
    plot_bgcolor='black',
    font_color="white",
)
fig.show()

In [14]:
df.drop_duplicates(inplace=True)

In [15]:
df.head(1)

,trans_date_trans_time,cc_num,merchant,category,amt,gender,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,M,Columbia,SC,29209,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0

In [16]:
df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'])

# 2. Extract time-based features
df['transaction_year'] = df['trans_date_trans_time'].dt.year
df['transaction_month'] = df['trans_date_trans_time'].dt.month
df['transaction_date'] = df['trans_date_trans_time'].dt.day
df['transaction_hour'] = df['trans_date_trans_time'].dt.hour
df['transaction_minute'] = df['trans_date_trans_time'].dt.minute
df['transaction_second'] = df['trans_date_trans_time'].dt.second
df['day_of_week'] = df['trans_date_trans_time'].dt.dayofweek  # 0 = Monday, 6 = Sunday
df['is_weekend'] = df['day_of_week'].isin([5, 6])              # Saturday or Sunday
df['is_night'] = df['transaction_hour'].between(0, 6)          # Night time (00:00 to 06:00)

# 3. Preview the new features
df

,trans_date_trans_time,cc_num,merchant,category,amt,gender,city,state,zip,lat,...,is_fraud,transaction_year,transaction_month,transaction_date,transaction_hour,transaction_minute,transaction_second,day_of_week,is_weekend,is_night
0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,M,Columbia,SC,29209,33.9659,...,0,2020,6,21,12,14,25,6,True,False
1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,F,Altonah,UT,84002,40.3207,...,0,2020,6,21,12,14,33,6,True,False
2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,F,Bellmore,NY,11710,40.6729,...,0,2020,6,21,12,14,53,6,True,False
3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,M,Titusville,FL,32780,28.5697,...,0,2020,6,21,12,15,15,6,True,False
4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,M,Falmouth,MI,49632,44.2529,...,0,2020,6,21,12,15,17,6,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,M,Luray,MO,63453,40.4931,...,0,2020,12,31,23,59,7,3,False,False
555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,M,Lake Jackson,TX,77566,29.0393,...,0,2020,12,31,23,59,9,3,False,False
555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,F,Burbank,WA,99323,46.1966,...,0,2020,12,31,23,59,15,3,False,False
555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,M,Mesa,ID,83643,44.6255,...,0,2020,12,31,23,59,24,3,False,False
555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,M,Edmond,OK,73034,35.6665,...,0,2020,12,31,23,59,34,3,False,False

In [17]:
df = df.drop(columns=['merchant'])

In [18]:
df = df.drop(columns=['trans_date_trans_time'])

In [19]:
df.head()

,cc_num,category,amt,gender,city,state,zip,lat,long,city_pop,...,is_fraud,transaction_year,transaction_month,transaction_date,transaction_hour,transaction_minute,transaction_second,day_of_week,is_weekend,is_night
0,2291163933867244,personal_care,2.86,M,Columbia,SC,29209,33.9659,-80.9355,333497,...,0,2020,6,21,12,14,25,6,True,False
1,3573030041201292,personal_care,29.84,F,Altonah,UT,84002,40.3207,-110.4360,302,...,0,2020,6,21,12,14,33,6,True,False
2,3598215285024754,health_fitness,41.28,F,Bellmore,NY,11710,40.6729,-73.5365,34496,...,0,2020,6,21,12,14,53,6,True,False
3,3591919803438423,misc_pos,60.05,M,Titusville,FL,32780,28.5697,-80.8191,54767,...,0,2020,6,21,12,15,15,6,True,False
4,3526826139003047,travel,3.19,M,Falmouth,MI,49632,44.2529,-85.0170,1126,...,0,2020,6,21,12,15,17,6,True,False

In [20]:
df['category'].unique()

array(['personal_care', 'health_fitness', 'misc_pos', 'travel',
       'kids_pets', 'shopping_pos', 'food_dining', 'home',
       'entertainment', 'shopping_net', 'misc_net', 'grocery_pos',
       'gas_transport', 'grocery_net'], dtype=object)

In [21]:
df = df.drop(columns=['city','state', 'zip', 'cc_num','trans_num',])

In [22]:
df['age'] = (pd.to_datetime('today') - pd.to_datetime(df['dob'])).dt.days // 365

In [23]:
df = df.drop(columns=['dob'])

In [24]:
df = df.drop(columns=['job'])

In [25]:
df.head(1)

,category,amt,gender,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud,transaction_year,transaction_month,transaction_date,transaction_hour,transaction_minute,transaction_second,day_of_week,is_weekend,is_night,age
0,personal_care,2.86,M,33.9659,-80.9355,333497,1371816865,33.986391,-81.200714,0,2020,6,21,12,14,25,6,True,False,57

In [26]:
gender_dummies = pd.get_dummies(df['gender'], prefix='gender', drop_first=True)

# Concatenate back to original df m = true
df = pd.concat([df, gender_dummies], axis=1)

In [27]:
df = df.drop(columns=['gender'])

In [28]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

# Initialize encoder
ohe = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

# Fit and transform (2D input)
category_encoded = ohe.fit_transform(df[['category']])

# Get category column names
category_cols = ohe.get_feature_names_out(['category'])

# Convert to DataFrame
category_encoded_df = pd.DataFrame(category_encoded, columns=category_cols, index=df.index)

# Concatenate back and drop original 'category'
df = pd.concat([df.drop('category', axis=1), category_encoded_df], axis=1)

In [29]:
df

,amt,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud,transaction_year,transaction_month,...,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel
0,2.86,33.9659,-80.9355,333497,1371816865,33.986391,-81.200714,0,2020,6,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,29.84,40.3207,-110.4360,302,1371816873,39.450498,-109.960431,0,2020,6,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,41.28,40.6729,-73.5365,34496,1371816893,40.495810,-74.196111,0,2020,6,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,60.05,28.5697,-80.8191,54767,1371816915,28.812398,-80.883061,0,2020,6,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,3.19,44.2529,-85.0170,1126,1371816917,44.959148,-85.884734,0,2020,6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,43.77,40.4931,-91.8912,519,1388534347,39.946837,-91.333331,0,2020,12,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
555715,111.84,29.0393,-95.4401,28739,1388534349,29.661049,-96.186633,0,2020,12,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
555716,86.88,46.1966,-118.9017,3684,1388534355,46.658340,-119.715054,0,2020,12,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
555717,7.99,44.6255,-116.4493,129,1388534364,44.470525,-117.080888,0,2020,12,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
555718,38.13,35.6665,-97.4798,116001,1388534374,36.210097,-97.036372,0,2020,12,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
import joblib

# Assuming `ohe` is your trained OneHotEncoder for category
joblib.dump(ohe, r'C:\Users\BHARGAV\Desktop\Credit-Card-Transactions-Fraud-Detection\scalers\category_ohe.pkl')

# If gender is encoded with pandas get_dummies or similar,
# and you want to save the encoder or simply the categories, you can save that too:
# For example, if gender was one-hot encoded with OneHotEncoder:
# joblib.dump(gender_ohe, 'gender_ohe.pkl')

# Or if gender is simple mapping, you can save the mapping dict:
gender_mapping = {'F': 0, 'M': 1}
joblib.dump(gender_mapping, r'C:\Users\BHARGAV\Desktop\Credit-Card-Transactions-Fraud-Detection\scalers\gender_mapping.pkl')

['C:\\Users\\BHARGAV\\Desktop\\Credit-Card-Transactions-Fraud-Detection\\scalers\\gender_mapping.pkl']

In [32]:
df.to_csv(r'C:\Users\BHARGAV\Desktop\test-clean.csv')

In [33]:
numeric_cols = ['amt', 'age', 'city_pop',]
df_clean = df.copy()

for col in numeric_cols:
    Q1 = df_clean[col].quantile(0.25)
    Q3 = df_clean[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    df_clean = df_clean[(df_clean[col] >= lower_bound) & (df_clean[col] <= upper_bound)]

print(f"Shape after removing outliers: {df_clean.shape}")

Shape after removing outliers: (428295, 33)

In [34]:
df = df_clean

In [36]:
from xgboost import XGBClassifier

# Create a new model instance
model = XGBClassifier()

# Load saved model parameters
model.load_model(r'C:\Users\BHARGAV\Desktop\Credit-Card-Transactions-Fraud-Detection\Models\xgb_model.json')

In [39]:
X_test = df.drop(columns=['is_fraud'])  # Features
y_test = df['is_fraud']                # True labels

In [40]:
from sklearn.metrics import classification_report, roc_auc_score

In [41]:
# Predict labels
y_pred = model.predict(X_test)

# Predict probabilities for class 1
y_pred_proba = model.predict_proba(X_test)[:, 1]

# Evaluation
print(classification_report(y_test, y_pred))
print("ROC AUC:", roc_auc_score(y_test, y_pred_proba))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    427830
           1       0.22      0.54      0.31       465

    accuracy                           1.00    428295
   macro avg       0.61      0.77      0.65    428295
weighted avg       1.00      1.00      1.00    428295

ROC AUC: 0.9838163811925097

In [42]:
from sklearn.metrics import classification_report, roc_auc_score

# Get probabilities for fraud class
y_proba = model.predict_proba(X_test)[:, 1]

# Try a lower threshold, e.g., 0.3
y_pred_custom = (y_proba >= 0.3).astype(int)

# Evaluate
print(classification_report(y_test, y_pred_custom))
print("ROC AUC:", roc_auc_score(y_test, y_proba))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    427830
           1       0.16      0.58      0.25       465

    accuracy                           1.00    428295
   macro avg       0.58      0.79      0.62    428295
weighted avg       1.00      1.00      1.00    428295

ROC AUC: 0.9838163811925097